<!DOCTYPE html>
<html>
  <head>
    <title>URLop | URL Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css"
  </head>
  <body>
    <div class="container">
	  <div class="row">
		<div class="col-md-8 col-md-offset-2">
		   <header>
		     <img src="/public/img/lopear.png" alt="lop ear bunny">
		     <h1 class="text-center">URLop: A URL Shortener</h1>
		   </header>