    <% include ./partials/header %>

	<p>Enter your URL in the form below, and you will receive your original and a short one back as a JSON object. To test it out, add a forward slash to the website name and the short URL string from the JSON object. Hit Return/Enter, and you will be redirected to your original URL.</p>
    <br>
	    <form action="/" method="post">
	        <div class="form-group">
	          <label for="url">Your URL</label>
	          <input type="text" name="url" class="form-control">
	        </div>
	        <div class="form-group">
	          <button type="submit" class="btn btn-warning">Submit</button>
	        </div>
	      </form>
		</div>
	  </div>		 
	</div>	<!-- container -->
  </body>
</html>